In [9]:
import sys
!{sys.executable} -m pip install gtrends
!{sys.executable} -m pip install pytrends

Requirement already satisfied: gtrends in /usr/local/lib/python3.5/dist-packages
Requirement already satisfied: six in /usr/local/lib/python3.5/dist-packages (from gtrends)
You are using pip version 9.0.3, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Collecting pytrends
  Downloading https://files.pythonhosted.org/packages/68/ef/f2428c5333ad5c9c5161ce62c05a357213bafc269cb03e8bf2fd0f9d124d/pytrends-4.4.0-py2.py3-none-any.whl
Requirement already satisfied: pandas in /usr/local/lib/python3.5/dist-packages (from pytrends)
Requirement already satisfied: requests in /usr/local/lib/python3.5/dist-packages (from pytrends)
Collecting lxml (from pytrends)
  Downloading https://files.pythonhosted.org/packages/5d/c9/39689d56ccb58e8212ca3c9ef68246bb481040cbd4d602295488ed13019b/lxml-4.3.3-cp35-cp35m-manylinux1_x86_64.whl (5.6MB)
    100% |################################| 5.6MB 263kB/s eta 0:00:01   9% |###                             | 532kB 1.8MB/s eta 0:00:03    21% |######                          | 1.2MB 10.4MB/s eta 0:00:01    49% |###############                 | 2.8MB 13.4MB/s eta 0:00:01    71% |#######################         | 4.1MB 6.9MB/s eta 0:00:01
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.5/dist-packages (from pandas->pytrends)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.5/dist-packages (from pandas->pytrends)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.5/dist-packages (from pandas->pytrends)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.5/dist-packages (from requests->pytrends)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.5/dist-packages (from requests->pytrends)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.5/dist-packages (from requests->pytrends)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.5/dist-packages (from requests->pytrends)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.5/dist-packages (from python-dateutil>=2->pandas->pytrends)
Installing collected packages: lxml, pytrends
Successfully installed lxml-4.3.3 pytrends-4.4.0
You are using pip version 9.0.3, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [8]:
from platform import python_version
print(python_version())

3.5.2

In [2]:
import datetime
import gtrends

In [108]:
username = "marlon.gerodrigues@gmail.com"
password = "13Mg35617038!"

terms = ["bitcoin", "Bitcoin"]
startDt = datetime.datetime(year=2019, month=4, day=1)
endDt = datetime.datetime(year=2019, month=5, day=1)

# gtrends not working
# trends = gtrends.collectTrends(username, password, terms, startDt, endDt, granularity='w', sum=True)

In [118]:
from pytrends.request import TrendReq

pytrends = TrendReq(hl='en-US', tz=360)

kw_list = ['bitcoin']
# pytrends.build_payload(kw_list, cat=0, timeframe='2013-10-06 2019-05-12', geo='', gprop='')
# cData = pytrends.interest_over_time()

In [140]:
blockData = pytrends.get_historical_interest(kw_list, year_start=2019, month_start=4, day_start=1, hour_start=0, year_end=2019, month_end=5, day_end=15, hour_end=23, cat=0, geo='', gprop='', sleep=0)

In [141]:
blockData

                     bitcoin  isPartial
date
2019-04-01 00:00:00       26      False
2019-04-01 01:00:00       26      False
2019-04-01 02:00:00       25      False
2019-04-01 03:00:00       26      False
2019-04-01 04:00:00       26      False
2019-04-01 05:00:00       25      False
2019-04-01 06:00:00       24      False
2019-04-01 07:00:00       24      False
2019-04-01 08:00:00       23      False
2019-04-01 09:00:00       25      False
2019-04-01 10:00:00       26      False
2019-04-01 11:00:00       27      False
2019-04-01 12:00:00       27      False
2019-04-01 13:00:00       28      False
2019-04-01 14:00:00       30      False
2019-04-01 15:00:00       29      False
2019-04-01 16:00:00       30      False
2019-04-01 17:00:00       30      False
2019-04-01 18:00:00       30      False
2019-04-01 19:00:00       30      False
2019-04-01 20:00:00       32      False
2019-04-01 21:00:00       33      False
2019-04-01 22:00:00       34      False
2019-04-01 23:00:00       32      False
2019-04-02 00:00:00       32      False
2019-04-02 01:00:00       31      False
2019-04-02 02:00:00       33      False
2019-04-02 03:00:00       33      False
2019-04-02 04:00:00       45      False
2019-04-02 05:00:00      100      False
...                      ...        ...
2019-05-11 11:00:00       52      False
2019-05-11 12:00:00       51      False
2019-05-11 13:00:00       52      False
2019-05-11 14:00:00       51      False
2019-05-11 15:00:00       52      False
2019-05-11 16:00:00       59      False
2019-05-11 17:00:00       56      False
2019-05-11 18:00:00       61      False
2019-05-11 19:00:00       57      False
2019-05-11 20:00:00       59      False
2019-05-11 21:00:00       63      False
2019-05-11 22:00:00       91      False
2019-05-11 23:00:00      100      False
2019-05-12 00:00:00       78      False
2019-05-12 01:00:00       70      False
2019-05-12 02:00:00       67      False
2019-05-12 03:00:00       62      False
2019-05-12 04:00:00       62      False
2019-05-12 05:00:00       66      False
2019-05-12 06:00:00       69      False
2019-05-12 07:00:00       74      False
2019-05-12 08:00:00       71      False
2019-05-12 09:00:00       64      False
2019-05-12 10:00:00       61      False
2019-05-12 11:00:00       57      False
2019-05-12 12:00:00       59      False
2019-05-12 13:00:00       54      False
2019-05-12 14:00:00       51      False
2019-05-12 15:00:00       55      False
2019-05-12 16:00:00       54      False

[1006 rows x 2 columns]

In [142]:
# Group by date
print(blockData.columns)

Index(['bitcoin', 'isPartial'], dtype='object')

In [143]:
blockData.info() # get column types

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1006 entries, 2019-04-01 00:00:00 to 2019-05-12 16:00:00
Data columns (total 2 columns):
bitcoin      1006 non-null int64
isPartial    1006 non-null bool
dtypes: bool(1), int64(1)
memory usage: 16.7 KB

In [144]:
len(blockData)

1006

In [145]:
idx_blockData = blockData.reset_index() # reset index so date can be grouped as a column
idx_blockData

                    date  bitcoin  isPartial
0    2019-04-01 00:00:00       26      False
1    2019-04-01 01:00:00       26      False
2    2019-04-01 02:00:00       25      False
3    2019-04-01 03:00:00       26      False
4    2019-04-01 04:00:00       26      False
5    2019-04-01 05:00:00       25      False
6    2019-04-01 06:00:00       24      False
7    2019-04-01 07:00:00       24      False
8    2019-04-01 08:00:00       23      False
9    2019-04-01 09:00:00       25      False
10   2019-04-01 10:00:00       26      False
11   2019-04-01 11:00:00       27      False
12   2019-04-01 12:00:00       27      False
13   2019-04-01 13:00:00       28      False
14   2019-04-01 14:00:00       30      False
15   2019-04-01 15:00:00       29      False
16   2019-04-01 16:00:00       30      False
17   2019-04-01 17:00:00       30      False
18   2019-04-01 18:00:00       30      False
19   2019-04-01 19:00:00       30      False
20   2019-04-01 20:00:00       32      False
21   2019-04-01 21:00:00       33      False
22   2019-04-01 22:00:00       34      False
23   2019-04-01 23:00:00       32      False
24   2019-04-02 00:00:00       32      False
25   2019-04-02 01:00:00       31      False
26   2019-04-02 02:00:00       33      False
27   2019-04-02 03:00:00       33      False
28   2019-04-02 04:00:00       45      False
29   2019-04-02 05:00:00      100      False
...                  ...      ...        ...
976  2019-05-11 11:00:00       52      False
977  2019-05-11 12:00:00       51      False
978  2019-05-11 13:00:00       52      False
979  2019-05-11 14:00:00       51      False
980  2019-05-11 15:00:00       52      False
981  2019-05-11 16:00:00       59      False
982  2019-05-11 17:00:00       56      False
983  2019-05-11 18:00:00       61      False
984  2019-05-11 19:00:00       57      False
985  2019-05-11 20:00:00       59      False
986  2019-05-11 21:00:00       63      False
987  2019-05-11 22:00:00       91      False
988  2019-05-11 23:00:00      100      False
989  2019-05-12 00:00:00       78      False
990  2019-05-12 01:00:00       70      False
991  2019-05-12 02:00:00       67      False
992  2019-05-12 03:00:00       62      False
993  2019-05-12 04:00:00       62      False
994  2019-05-12 05:00:00       66      False
995  2019-05-12 06:00:00       69      False
996  2019-05-12 07:00:00       74      False
997  2019-05-12 08:00:00       71      False
998  2019-05-12 09:00:00       64      False
999  2019-05-12 10:00:00       61      False
1000 2019-05-12 11:00:00       57      False
1001 2019-05-12 12:00:00       59      False
1002 2019-05-12 13:00:00       54      False
1003 2019-05-12 14:00:00       51      False
1004 2019-05-12 15:00:00       55      False
1005 2019-05-12 16:00:00       54      False

[1006 rows x 3 columns]

In [146]:
idx_blockData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006 entries, 0 to 1005
Data columns (total 3 columns):
date         1006 non-null datetime64[ns]
bitcoin      1006 non-null int64
isPartial    1006 non-null bool
dtypes: bool(1), datetime64[ns](1), int64(1)
memory usage: 16.8 KB

In [147]:
# Get total number of rows missing a value
idx_blockData.isna().sum()

# Convert NaN to zero (0)
#idx_blockData.fillna(0, inplace=True)
#idx_blockData

date         0
bitcoin      0
isPartial    0
dtype: int64

In [149]:
# Group by day - average values
avg_blockData = idx_blockData.groupby([idx_blockData['date'].dt.year, idx_blockData['date'].dt.month, idx_blockData['date'].dt.day])[['bitcoin']].mean()
avg_blockData

                  bitcoin
date date date
2019 4    1     27.833333
          2     61.666667
          3     67.208333
          4     49.750000
          5     39.250000
          6     34.541667
          7     34.916667
          8     84.000000
          9     79.666667
          10    78.375000
          11    78.875000
          12    70.833333
          13    59.916667
          14    58.458333
          15    79.200000
          16    79.291667
          17    81.166667
          18    79.791667
          19    75.958333
          20    73.333333
          21    70.416667
          22    59.280000
          23    75.500000
          24    68.791667
          25    64.666667
          26    65.666667
          27    51.916667
          28    48.833333
          29    60.880000
          30    62.166667
     5    1     60.916667
          2     63.791667
          3     82.416667
          4     73.250000
          5     69.041667
          6     32.760000
          7     37.458333
          8     37.541667
          9     41.958333
          10    44.625000
          11    57.541667
          12    63.176471

In [150]:
avg_blockData.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 42 entries, (2019, 4, 1) to (2019, 5, 12)
Data columns (total 1 columns):
bitcoin    42 non-null float64
dtypes: float64(1)
memory usage: 885.0 bytes

In [161]:
import pandas as pd

# BETTER APPROACH
avg2_blockData = blockData.groupby(pd.Grouper(freq="D"))[['bitcoin']].mean()
avg2_blockData

              bitcoin
date
2019-04-01  27.833333
2019-04-02  61.666667
2019-04-03  67.208333
2019-04-04  49.750000
2019-04-05  39.250000
2019-04-06  34.541667
2019-04-07  34.916667
2019-04-08  84.000000
2019-04-09  79.666667
2019-04-10  78.375000
2019-04-11  78.875000
2019-04-12  70.833333
2019-04-13  59.916667
2019-04-14  58.458333
2019-04-15  79.200000
2019-04-16  79.291667
2019-04-17  81.166667
2019-04-18  79.791667
2019-04-19  75.958333
2019-04-20  73.333333
2019-04-21  70.416667
2019-04-22  59.280000
2019-04-23  75.500000
2019-04-24  68.791667
2019-04-25  64.666667
2019-04-26  65.666667
2019-04-27  51.916667
2019-04-28  48.833333
2019-04-29  60.880000
2019-04-30  62.166667
2019-05-01  60.916667
2019-05-02  63.791667
2019-05-03  82.416667
2019-05-04  73.250000
2019-05-05  69.041667
2019-05-06  32.760000
2019-05-07  37.458333
2019-05-08  37.541667
2019-05-09  41.958333
2019-05-10  44.625000
2019-05-11  57.541667
2019-05-12  63.176471

In [ ]:
## START FROM HERE

kw_list = ['bitcoin']
block_data_full = pytrends.get_historical_interest(kw_list, year_start=2013, month_start=10, day_start=1, hour_start=0, year_end=2019, month_end=5, day_end=15, hour_end=23, cat=0, geo='', gprop='', sleep=60)

In [ ]:
block_data_full